* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Georgia, "Times New Roman", Serif;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.7);
}
header {
    background-image: url("../images/header.jpg");
    height:160px;
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
}
header img{
    width: 100%;
    object-fit: cover;
}
nav {
    /*border: 2px solid red;*/
}
nav ul {
    background-color: #aba9a4;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
}
nav a {
    display: block;
    text-decoration: none;
    padding: 10px 5px;
    color: white;
}
nav a:hover{
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}
.main{
    width: 100%;
    overflow: hidden;
}
main {
    float: left;
    width: 80%;
    height: 100vh;
    padding-left: 20px;
    /*border: 2px solid red;*/
}
main p{
    text-indent: 20px;
    text-align: justify;
}
aside {
    width: 20%;
    margin-left: 80%;
    height: 100vh;
    border-left: 1px solid rgba(128, 128, 128, 0.32);
}
footer {
    background-color: #aba9a3;
    color: white;
    position: relative;
    bottom: 0;
}
/*Section*/
section {
    overflow: auto;
    /*position: relative;*/
    margin-top: 20px;
}
section img{
    width: 100%;
}
.box {
    display: inline-block;
    float: left;
    width: 40%;
    border: 2px solid rgba(128, 128, 128, 0.32);
}
.content div{
    color: lightpink;
}
.content {
    display: inline-block;
    /*border: 2px solid blue;*/
    width: 60%;
    padding-left: 20px;
    padding-right: 10px;
}
aside {
    padding: 20px;
    color: lightpink;
}
aside ul{
    list-style-type: none;
    padding: 0;
}
aside li {
    border-bottom: 1px solid rgba(128, 128, 128, 0.32);
    padding: 20px 0px;
}
.contact h2{
    color: black;
}
footer {
    width: 100%;
    display: block;
    position: relative;
    bottom: 0;
}
footer div {
    padding: 10px 10px;
}
